* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: black;
  color: white;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: red;
  hieght:80vh;
}

.logo {
 
  width:150px;
}


.language-signin {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 3;
}

.language-signin select,
.language-signin button {
  padding: 8px 12px;
  font-size: 1rem;
}

.language-signin button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

/* Hero Section */
.hero-section {
  position: relative;
  height: 90vh;
  background-image: url('assets/vdo/background.jpg');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  top: 35%;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  margin-bottom: 20px;
  font-size: 1rem;
}

/* Email Form */
.email-form {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  color: transparent;
}

.email-form input[type="email"] {
  padding: 16px;
  width: 60%;
  max-width: 400px;
  border: none;
  outline: none;
  font-size: 1rem;
  
}

.email-form button {
  padding: 16px 24px;
  background-color: red;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  
}.trending-section {
  padding: 40px 20px;
}

.trending-section h2 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 24px;
}

.trending-row {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
}

.trending-poster {
  height: 150px;
  border-radius: 4px;
  flex-shrink: 0;
  cursor: pointer;
}
